{% extends "base.html" %}
{% block content %}
<h1>{{document.metadata.id}}: <i>{{ document.metadata.title }}</i></h1>
<p><strong>Year:</strong> <a href="{{ url_for('results', year=document.year) }}">{{ document.metadata.copyrightYear }}</a></p>
<p><strong>Type:</strong> {{ document.metadata.documentType }}</p>
<p><strong>Actors:</strong> {{ ", ".join(document.metadata.actors) }}</p>
<div><strong>Content:</strong> 
    <table>
        <thead>
            <th>Page</th>
            <th>Transcript</th>
        </thead>
        {% for page_num, text in document.transcripts %}
        <tr>
            <td>{{ page_num }}</td>
            <td>{{ text }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
